




<div class="container">
  <div class="row">
      <div class="col-sm-6 offset-sm-3 mt-4 mb-4">
          <h2 class="text-center">Experienced & Professional Team</h2>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
          <div class="card-box text-center">
              <div class="user-pic">
                  <img src="../../../assets/img/perfil.png" class="img-fluid" alt="User Pic">
              </div>
              <h4>FERNANDO FERNANDEZ</h4>
              <h6>Web Designer</h6>
              <hr>
              <p class="card-description">Email: desarrollo.sofia@gmail.com</p>
              <p class="card-description">Telefono: 78945612</p>
              <p class="card-description">Interno: 1245</p>
              <hr>

          </div>
      </div>

      <div class="col-md-4">
          <div class="card-box text-center">
              <div class="user-pic">
                  <img src="../../../assets/img/perfil.png" class="img-fluid" alt="User Pic">
              </div>
              <h4>FERNANDO FERNADEZ</h4>
              <h6>Web Developer</h6>
              <hr>
              <p class="card-description">Email: desarrollo.sofia@gmail.com</p>
              <p class="card-description">Telefono: 78945612</p>
              <p class="card-description">Interno: 1245</p>
              <hr>

          </div>
      </div>

      <div class="col-md-4">
          <div class="card-box text-center">
              <div class="user-pic">
                  <img src="../../../assets/img/perfil.png" class="img-fluid" alt="User Pic">
              </div>
              <h4>FERNANDO FERNANDEZ</h4>
              <h6>Front End Developer</h6>
              <hr>
              <p class="card-description">Email: desarrollo.sofia@gmail.com</p>
              <p class="card-description">Telefono: 78945612</p>
              <p class="card-description">Interno: 1245</p>
              <hr>

          </div>
      </div>
  </div>
</div>
