<div class="page-container">

    <form class="page-container">
        <div class="toolbar-zone">
            <a
                mat-button
                type="button">
                <mat-icon>arrow_back_ios_new</mat-icon>
                Volver
            </a>

            <span class="big-text">Solicitar una Orden de Trabajo</span>

            <button
                class="create-button"
                mat-raised-button
                type="submit">
                Guardar Solicitud
            </button>
        </div>

        <div class="fields-zone">
            <div class="flex-box-column-container 
                        inputs-left-zone">
                <div class="inline-flex-container">
                    <mat-form-field 
                        class="" 
                        appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            placeholder="Seleccione uno">
                            <mat-select-trigger>
                                aa
                            </mat-select-trigger>
                            <mat-option>-TODOS-</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <select name="a12" id="e12">tata</select>
                </div>

                <div class="inline-flex-container">
                    <mat-form-field 
                        class="" 
                        appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            placeholder="Seleccione uno">
                            <mat-select-trigger>
                                aa
                            </mat-select-trigger>
                            <mat-option>-TODOS-</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field 
                        class="" 
                        appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            placeholder="Seleccione uno">
                            <mat-select-trigger>
                                aa
                            </mat-select-trigger>
                            <mat-option>-TODOS-</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="inline-flex-container">
                    <mat-form-field 
                        class="" 
                        appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            placeholder="Seleccione uno">
                            <mat-select-trigger>
                                aa
                            </mat-select-trigger>
                            <mat-option>-TODOS-</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field 
                        class="" 
                        appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            placeholder="Seleccione uno">
                            <mat-select-trigger>
                                aa
                            </mat-select-trigger>
                            <mat-option>-TODOS-</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="inline-flex-container">
                    <p>Dirigido A: </p>
                    
                    <mat-form-field 
                        class="" 
                        appearance="outline">
                        <mat-label>Departamento</mat-label>
                        <mat-select
                            placeholder="Seleccione uno">
                            <mat-select-trigger>
                                aa
                            </mat-select-trigger>
                            <mat-option>-TODOS-</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>

                <div class="inline-flex-container">
                    <input  
                        matInput 
                        appearance="outline" 
                        placeholder="CC">
                </div>

                <div class="inline-flex-container">
                    <input 
                        matInput 
                        appearance="outline" 
                        placeholder="Asunto">
                </div>


                <textarea></textarea>

            </div>

            <div class="flex-box-column-container
                        inputs-right-zone">
                <div class="flex-box-column-container
                            preloaded-fields-zone">
                    <p>info 1</p>
                    <p>info 1</p>
                    <p>info 1</p>
                    <p>info 1</p>
                    <p>info 1</p>
                </div>

                <div class="flex-box-column-container
                            attached-files-zone">
                    <p>Archivos Adjuntos</p>
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </form>
</div>