
/* 
.main {
  background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;

  text-align: center;
  background-color: rgb(255, 0, 76);
  color:white;
  

  width: 550px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.4rem;
  
  font-family: Helvetica, Arial, sans-serif;

} */