
<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>My Profile</h2>

        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

          <div fxFlex="30%" fxFlex.sm="95%" fxFlex.xs="95%">
           <!--  <app-profile-details></app-profile-details> -->
           <div class="profile-card" *ngIf="list.isAutenticado">


            <h2 class="title">
             Nombre: {{list.getUserCode}}
            </h2>

            <label>
              {{list.getUserCode}}
            </label>

            <label>
              {{list.getUserCode}}
            </label>
          </div>
          </div>
          <div fxFlex="30%" fxFlex.sm="95%" fxFlex.xs="95%">
            <!--  <app-profile-details></app-profile-details> -->
            <div class="profile-card" *ngIf="list.isAutenticado">


             <h2 class="title">
               {{list.getUserCode}}
             </h2>

             <label>
               {{list.getUserCode}}
             </label>

             <label>
               {{list.getUserCode}}
             </label>
           </div>
           </div>

          <div fxFlex></div>



        </div>
      </mat-card-content>
    </mat-card>
  </div>


</div>
