

    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">

      <div class="overlay"></div>

      <div class="carousel-inner">
          <div class="item slides active">
              <div class="slide-1"></div>
              <div class="hero">


                  <h1>BIENVENIDOS ADIS </h1>


              </div>
          </div>
      </div>
  </div>



  <br />
  <div class="container">

      <div class="row">
          <div class="col-md-4">
              <div class="card card-1">
                  <h3>LENGUAJE C#</h3>
                  <p>
                      A server-side language is one that runs on the web server , just before the page is sent over the Internet to the client.
                      Pages running on the server can perform database access, network connections, and other tasks to create the final page that the client will see.
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-2">
                  <h3>ASP.NET CORE</h3>
                  <p>
                      A server-side language is one that runs on the web server , just before the page is sent over the Internet to the client.
                      Pages running on the server can perform database access, network connections, and other tasks to create the final page that the client will see.
                  </p>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-3">
                  <h3>bootstrap</h3>
                  <p>
                      LA server-side language is one that runs on the web server , just before the page is sent over the Internet to the client.
                      Pages running on the server can perform database access, network connections, and other tasks to create the final page that the client will see.
                  </p>
              </div>
          </div>
      </div>
  </div>


