<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon style="color: aliceblue;">menu</mat-icon>
    </button>
    <!-- <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div> -->
    <div class="row mr-2 ml-auto">

      <ul class="row m-0 align-items-center">
        <li>


          <button  style="color: white;"
          class="user mt-2 d-flex align-items-center"
           mat-button [matMenuTriggerFor]="beforeMenu" *ngIf="auth.isAutenticado">
           {{auth.getUserCode}}
           <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button  mat-menu-item routerLinkActive="list-item-active" routerLink="editperfil" >
              <mat-icon>edit</mat-icon>Editar Perfil
            </button>
            <button mat-menu-item routerLinkActive="list-item-active" (click)=" auth.logout()">
              <mat-icon>exit_to_app</mat-icon>
              Cerrar Session
            </button>
          </mat-menu>


        </li>
      </ul>

    </div>

  </mat-toolbar-row>
</mat-toolbar>




