<div class="title">
  <h4 class="text">MODIFICAR SUBTIPO DE ORDEN DE TRABAJO</h4>
</div>

<div>
 <div class="content">
  <mat-dialog-content [formGroup] = "FormSubtipo">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
     <mat-form-field >
       <mat-label class="label">Sub Tipo de OT</mat-label>
         <input matInput formControlName="idSTipoOT" readonly onmousedown="return false;">
     </mat-form-field>
    </div>
     <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
     <mat-form-field  fxFlex  appearance="outline" >
       <mat-label class="label">Nombre Completo</mat-label>
       <input matInput placeholder="Nombre Completo" formControlName="nombre" autocomplete="off">
     </mat-form-field >
   </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
     <!-- <mat-form-field fxFlex appearance="outline">
       <mat-label class="label">Unidad Tecnica</mat-label>
       <input matInput placeholder="Unidad Tecnica" formControlName="sigla" autocomplete="off">
     </mat-form-field> -->
     <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Unidad Tecnica</mat-label>
      <mat-select (valueChange)="cargarTipo($event)"  formControlName="IdDptoTecnico" required>
         <mat-option *ngFor="let unidad of unidadTecnicas" [value]="unidad.idDptoTecnico">
          {{unidad.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
     <!-- <mat-form-field fxFlex appearance="outline">
       <mat-label class="label">Tipo de OT</mat-label>
       <input matInput placeholder="Usuario" formControlName="secuenciaOT" autocomplete="off">
     </mat-form-field> -->
     <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Tipo OT</mat-label>
      <mat-select   formControlName="IdTipoOT">
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.idTipoOT">
          {{tipo.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
   <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">


     <mat-form-field appearance="outline">
       <mat-label class="label">Estado</mat-label>
       <mat-select formControlName="estado">

         <mat-option *ngFor="let estado of estados" [value]="estado.value">
           {{estado.viewValue}}
         </mat-option>
       </mat-select>
     </mat-form-field>
  </div>


   </mat-dialog-content>
  </div>
   <mat-dialog-actions>
    <div class="btn-action">
       <button class="btn1" mat-flat-button color="accent" (click) = "cerrar()">
         <mat-icon>cancel</mat-icon>Cancelar
       </button>

       <button  class="btn2"  mat-flat-button (click) = "guardar()">
         <mat-icon>save</mat-icon>Modificar</button>
    </div>
   </mat-dialog-actions>

  </div>