
.toolbar{

    margin-top: 1px; /* height of header */
    padding: 0.8px;
    height: 50px;
}
.example-spacer {
   flex: 1 1 auto;
  background-image: radial-gradient(circle at 95.14% 70.29%, #ffffff 0, #8092fd 15%, #3c78f2 50%, #0060e7 75%, #004cdc 100%);
  color: #ffffff;
  height: 20px;

}

/* Structure */
table {
margin-top: 10px;
width: 100%;
}

.mat-mini-fab{
  color: blue;
  background-color: #ffffff;
}


.buscar{
height: 60px;
margin-top: 3px;
margin-right: auto;
 margin-left: auto;
 border-width:3px;
 border-color:cornflowerblue;
 border-style:solid;
 border-radius: 5px;
justify-content: space-around;
padding: 1px;
}
.nuevo{

  float:right;



}

.tablero{
max-height: auto;

  padding: 30px;

}
