<div>
  <h4 mat-dialog-title>MODIFICAR PERSONA</h4>
</div>




  <div class="content">
    <mat-dialog-content [formGroup] = "form"  >
    
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
        <mat-form-field  [style.width.px]=200 class="example-full-width" color="accent" appearance="outline">
          <mat-label class="label">ID Persona</mat-label>
    
            <input matInput placeholder = "ID Persona" formControlName="idPersona" readonly onmousedown="return false;">
        </mat-form-field>
    
        <mat-form-field fxFlex appearance="outline">
          <mat-label class="label">Correo</mat-label>
    
            <input matInput placeholder = "Correo" formControlName="correo" >
        </mat-form-field>
    
       </div>

       <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field fxFlex appearance="outline">
          <mat-label class="label">Locacion</mat-label>
          <input type="text" placeholder="Locacion"  formControlName="locacion"  matInput  [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let locacion of filteredOptions | async" [value]="locacion">
              {{ locacion }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
        <mat-form-field fxFlex appearance="outline">
          <mat-label class="label">Sucursal</mat-label>
    
            <input type="text" placeholder="Sucursal"  matInput formControlName="sucursal" [matAutocomplete]="auto2" >
            <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">
              {{sucursal}}
            </mat-option>
          </mat-autocomplete>
    
        </mat-form-field>
      
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
  
  
  
          <!-- <mat-form-field fxFlex appearance="outline">
            <mat-label class="label">Estado</mat-label>
            <input matInput placeholder="Estado" formControlName="estado" >
          </mat-form-field> -->
          <mat-form-field fxFlex appearance="outline">
            <mat-label class="label">Estado</mat-label>
            <mat-select formControlName="estado">
      
              <mat-option *ngFor="let estado of estados" [value]="estado.value">
                {{estado.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex appearance="outline">
            <mat-label class="label">Aprobador</mat-label>
            <input type="text" placeholder="Aprobador"  matInput formControlName="aprobador" >
          </mat-form-field>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          
          <!-- empresa -->
          <mat-form-field fxFlex appearance="outline">
            <mat-label class="label">Empresa</mat-label>
            <mat-select [(ngModel)]="selectedEmpresas.id"  formControlName="empresa">
              <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
                {{empresa.nombre}}
              </mat-option>
            </mat-select>
          
          </mat-form-field>
          
          <mat-form-field fxFlex appearance="outline">
            <mat-label class="label">Gerencias</mat-label>
            <mat-select [(ngModel)]="selectedGerencias.id"  formControlName="gerencia">
          
              <mat-option *ngFor="let gerencia of gerencias" [value]="gerencia.id">
                {{gerencia.nombre}}
              </mat-option>
            </mat-select>
          
          </mat-form-field>
  
  
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
  
            <mat-form-field fxFlex appearance="outline">
              <mat-label class="label">Unidad Organizacional</mat-label>
        
        
              <mat-select [(ngModel)]="selectedUnidadOrganizacionales.id"  formControlName="unidadOrganizacional">
                <mat-option *ngFor="let unidadOrganizacional of unidadOrganizacionales" [value]="unidadOrganizacional.id">
                  {{unidadOrganizacional.nombre}}
                </mat-option>
        
              </mat-select>
            </mat-form-field>
        
            <mat-form-field fxFlex appearance="outline">
              <mat-label class="label">Cargo</mat-label>
                <mat-select [(ngModel)]="selectedCargos.id" formControlName="cargo">
                <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
                  {{cargo.nombre}}
                </mat-option>
              </mat-select>
        
            </mat-form-field>
  
  
  
      </div>
    
    </mat-dialog-content>
    
    <mat-dialog-actions>
    
        <button class="btn1" mat-flat-button color="accent" (click) = "cerrar()">
          <mat-icon>cancel</mat-icon>Cancelar
        </button>
  
        <button  class="btn2"  mat-flat-button color="primary" (click) = "guardar()"><mat-icon>save</mat-icon>Modificar</button>
    </mat-dialog-actions>
  </div>
