
 <h2 mat-dialog-title>MODIFICAR USUARIO</h2>

<div class="content">
<mat-dialog-content [formGroup] = "form">
 
   <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <mat-form-field class="createUser" fxFlex>
      <mat-label class="label">Id Usuario</mat-label>

        <input matInput placeholder = "Id Usuario" formControlName="idUser" readonly onmousedown="return false;">
    </mat-form-field>


    <!-- <mat-form-field class="createUser" fxFlex>
      <mat-label>Codigo Persona</mat-label>

        <input matInput placeholder = "Codigo de Usuario" formControlName="numeroDocumento" readonly onmousedown="return false;">
    </mat-form-field> -->
    <mat-form-field class="createUser" fxFlex>
      <mat-label class="label">Abreviatura</mat-label>
        <input matInput placeholder = "Abreviatura" formControlName="abreviatura" readonly onmousedown="return false;">
    </mat-form-field>

   

    <!-- <mat-form-field class="createUser" fxFlex>
      <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder = "Nombre Completo" formControlName="nombreCompleto" readonly onmousedown="return false;">
    </mat-form-field> -->

   

  
  </div>
  
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    
    <mat-form-field class="createUser" fxFlex>
      <mat-label class="label">Estado</mat-label>
        <input matInput placeholder = "Estado" formControlName="estado">
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Unidad Tecnica</mat-label>
      <mat-select [(ngModel)]="selectedTecnica" formControlName="unidadTecnica">
        <mat-option *ngFor="let unidadTecnica of unidadTecnicas" [value]="unidadTecnica.idDptoTecnico">
          {{unidadTecnica.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
   
   
  </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Tipo Usuario</mat-label>
      <mat-select [(ngModel)]="selectedUsuario" formControlName="tipoUsuario">
        <mat-option *ngFor="let tipoUsuario of tipoUsuarios" [value]="tipoUsuario.id">
          {{tipoUsuario.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Perfil</mat-label>
      <mat-select [(ngModel)]="selectedPerfil" formControlName="perfil">
        <mat-option *ngFor="let perfil of perfiles" [value]="perfil.idPerfil">
          {{perfil.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  </mat-dialog-content>

  <mat-dialog-actions>

      <button class="btn1" mat-flat-button color="accent" (click) = "cerrar()">
        <mat-icon>cancel</mat-icon>Cancelar
      </button>

      <button  class="btn1"  mat-flat-button color="primary" (click) = "guardar()"><mat-icon>save</mat-icon>Modificar</button>
      <button class="btn2" mat-flat-button ><mat-icon>enhanced_encryption</mat-icon>RESETEAR CONTRASEÑA</button>
  </mat-dialog-actions>
</div>