<mat-card class="mat-elevation-z8" >
  <mat-card-header>
    <mat-card-title>CREATE PERSON</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="form" (ngSubmit)="submit()" >
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex >
      <input matInput placeholder="Num_Doc" formControlName="Num_Doc" >

    </mat-form-field >
    <br>
    <mat-form-field fxFlex>
      <input matInput placeholder="Password" formControlName="Password" >
    </mat-form-field>
    <br>
    <mat-form-field fxFlex>
      <input matInput placeholder="Nombre_Completo" formControlName="Nombre_Completo" >
    </mat-form-field>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <br>

    <mat-form-field fxFlex>
      <input matInput placeholder="SiglaUO" formControlName="SiglaUO" >
    </mat-form-field>
    <br>

    <mat-form-field fxFlex>
      <input matInput placeholder="IdUO" formControlName="IdUO" >
    </mat-form-field>
    <br>

    <mat-form-field fxFlex>
      <input matInput placeholder="UnidadOrg" formControlName="UnidadOrg" >
    </mat-form-field>
    </div>
    <br>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex>
      <input matInput placeholder="Email" formControlName="Email" >
    </mat-form-field> <br>

    <mat-form-field fxFlex>
      <input matInput placeholder="Empresa" formControlName="Empresa" >
    </mat-form-field>
    <br>
    <mat-form-field  fxFlex>
      <input matInput placeholder="Gerencia" formControlName="Gerencia" >
    </mat-form-field>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <br>
    <mat-form-field fxFlex>
      <input matInput placeholder="Locacion" formControlName="Locacion" >
    </mat-form-field>
    <br>
    <mat-form-field fxFlex>
      <input matInput placeholder="Sucursal" formControlName="Sucursal" >
    </mat-form-field>
    <br>
    <mat-form-field fxFlex>
      <input matInput placeholder="NroDocAprobador" formControlName="NroDocAprobador" >
    </mat-form-field>
    <br>
    <mat-form-field fxFlex>
      <input matInput placeholder="NombreAprobador" formControlName="NombreAprobador">
    </mat-form-field>
    </div>
<br>
    <button id="btnSubmit" mat-raised-button type="submit" color="primary" >ENVIAR</button>
    </form>
  </mat-card-content>
</mat-card>


