<div class="toolbar">
  <p>
    <mat-toolbar class="example-spacer">
  <span>CREAR PERSONAS</span>
    </mat-toolbar>
  </p>
</div>
<div>
<mat-card class="mat-elevation-z16" fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)">
  <div class="content">
            <mat-card-content>
                  <form novalidate id="contactForm" [formGroup]="form" (ngSubmit)="submit()" >
                        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="10px">
                            <mat-form-field  [style.width.px]=200 class="example-full-width" color="accent" appearance="outline">
                              <mat-label class="label">Carnet Identidad</mat-label>
                              <input matInput placeholder="Carnet Identidad" formControlName="numeroDocumento" >

                            </mat-form-field >

                              <mat-form-field fxFlex appearance="outline">
                                <mat-label class="label">Nombre Completo</mat-label>
                                <input matInput placeholder="Nombre Completo" formControlName="nombreCompleto" fxFlex="50">
                              </mat-form-field>




                          </div>
                          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Correo Electronico</mat-label>
                              <input matInput placeholder="Correo Electronico" formControlName="correo" >
                            </mat-form-field>
                          </div>
                            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Locacion</mat-label>
                              <mat-select [(ngModel)]="selectedLocacion" formControlName="locacion">
                                <mat-option *ngFor="let locacion of locaciones" [value]="locacion">
                                  {{locacion}}
                                </mat-option>
                              </mat-select>

                               </mat-form-field>
                              <!--  <form >
                                <mat-form-field  fxFlex appearance="outline">
                                  <mat-label>Locacion</mat-label>
                                  <input type="text"
                                         placeholder="Locacion"
                                         matInput
                                         [formControl]="myControl"
                                         [matAutocomplete]="auto">
                                  <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                      {{option}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                              </form> -->
                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Sucursal</mat-label>
                              <input matInput placeholder="Sucursal" formControlName="sucursal" >
                            </mat-form-field>

                          </div>
                          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">


                            <!-- <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Estado</mat-label>
                              <input matInput placeholder="Estado" formControlName="estado" >
                            </mat-form-field> -->
                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Estado</mat-label>
                              <mat-select formControlName="estado">
  
                                <mat-option *ngFor="let estado of estados" [value]="estado.value">
                                  {{estado.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                              <mat-label class="label">Aprobador</mat-label>
                              <mat-select formControlName="aprobador" ><!-- [compareWith]="compareWith" -->
                                <mat-option *ngFor="let aprobador of aprobadores" [value]="aprobador">
                                  {{ aprobador.nombre }}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>

                             <!-- empresa -->
                             <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Empresa</mat-label>
                              <mat-select [(ngModel)]="selectedEmpresas" formControlName="empresa">
                                <mat-option *ngFor="let empresa of empresas" [value]="empresa">
                                  {{empresa.nombre}}
                                </mat-option>
                              </mat-select>

                            </mat-form-field>



                          </div>
                          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Gerencias</mat-label>
                              <mat-select [(ngModel)]="selectedGerencia" formControlName="gerencia">
                                <mat-option *ngFor="let gerencia of gerencias" [value]="gerencia">
                                  {{gerencia.nombre}}
                                </mat-option>
                              </mat-select>


                            </mat-form-field>


                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Unidad Organizacional</mat-label>
                              <mat-select [(ngModel)]="selectedUO" formControlName="unidadOrganizacional">
                                <mat-option *ngFor="let unidadOrganizacional of unidadOrganizacionalesUO" [value]="unidadOrganizacional">
                                  {{unidadOrganizacional.nombre}}
                                </mat-option>
                              </mat-select>

                            </mat-form-field>

                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Cargo</mat-label>
                              <mat-select [(ngModel)]="selectedCargo" formControlName="cargo">
                                <mat-option *ngFor="let cargo of cargos" [value]="cargo">
                                  {{cargo.nombre}}
                                </mat-option>
                              </mat-select>

                            </mat-form-field>



                          </div>

                            <div class="boton">
                              <button class="btn1"  type="cancel"  mat-raised-button color="warn" routerLink="../listperson" ><!-- (click)="enableDisableRule()"    [ngClass]="{'primary' : toggle, 'red': !toggle}" -->
                                <mat-icon>cancel</mat-icon>Cancelar</button>
                              <button class="btn1" id="btnSubmit" type="submit"  mat-raised-button color="primary" ><!-- (click)="enableDisableRule()"    [ngClass]="{'primary' : toggle, 'red': !toggle}" -->
                              <mat-icon>save</mat-icon>GUARDAR</button>

                            </div>


                  </form>
          </mat-card-content>
</div>
</mat-card>
</div>


