
<div class="title">
    <h4 class="text">MODIFICAR APLICACION</h4>
</div>

<div>
  <div class="content">
    <mat-dialog-content [formGroup] = "fromAplicacion">
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field >
          <mat-label class="label">Aplicacion ID</mat-label>
            <input matInput formControlName="idAplica" readonly >
        </mat-form-field>
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field  fxFlex  appearance="outline">
          <mat-label class="label">Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre" autocomplete="off">
        </mat-form-field >
      </div>
      <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

        <mat-form-field fxFlex appearance="outline">
          <mat-label class="label">Unidad Tecnica</mat-label>
          <mat-select [ngModel]="selectedUnidadTecnica.idDptoTecnico"  formControlName="IdDptoTecnico">
            <mat-option *ngFor="let UnidadTecnica of unidadTecnicas" [value]="UnidadTecnica.idDptoTecnico">
              {{UnidadTecnica.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="estadoCheck"
        [disabled]="disabled"
        (change)="onChangeEstado($event.checked)">
        <mat-label class="label">Tiene SubAplica</mat-label>
    </mat-slide-toggle>
    </div>
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field appearance="outline">
        <mat-label class="label">Estado</mat-label>
        <mat-select formControlName="estado">

          <mat-option *ngFor="let estado of estados" [value]="estado.value">
            {{estado.viewValue}}

          </mat-option>
        </mat-select>
      </mat-form-field>
   </div>



    </mat-dialog-content>
  <mat-dialog-content>

    <table class="table">
     
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Estado </th>

          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employeesList; index as i;">
          <tr>

            <ng-container *ngIf="enableEditIndex != i">
              <td>{{employee.nombre}}</td>
              <td>{{employee.estado}}</td>

              <td *ngIf="enableEditIndex != i">
                <button type="button" (click)="switchEditMode(i)">Edit</button>
              </td>
            </ng-container>
            <ng-container *ngIf="enableEditIndex == i">
              <td><input [(ngModel)]="employee.nombre" /></td>
              <td><input [(ngModel)]="employee.estado" /></td>

              <td><button (click)="save()">Update</button></td>
            </ng-container>
          </tr>
        </ng-container>

      </tbody>
    </table>
  </mat-dialog-content>
  </div>


  <mat-dialog-actions>

    <!--    <button mat-raiset-button color="primary" (click) = "cerrar()">CERRAR</button> -->
      <div class="btn-action">
        <button class="btn1" mat-flat-button color="accent" (click) = "cerrar()">
          <mat-icon>cancel</mat-icon>Cancelar
        </button>

        <button  class="btn2"  mat-flat-button  (click) = "guardar()">
        <mat-icon>save</mat-icon>Modificar</button>
      </div>
    </mat-dialog-actions>
</div>
