<mat-card>
  <app-search></app-search>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <!-- Position Column -->
    <ng-container matColumnDef="userCode">
      <th mat-header-cell *matHeaderCellDef> NRO DOC</th>
      <td mat-cell *ngFor="let element"> {{element.userCode}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre_Completo">
      <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
      <td mat-cell *ngFor="let element"> {{element.nombre_Completo}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef> CARGO </th>
      <td mat-cell *ngFor="let element"> {{element.cargo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="unidadOrganizacional">
      <th mat-header-cell *matHeaderCellDef>UNIDAD ORG</th>
      <td mat-cell *ngFor="let element"> {{element.unidadOrganizacional}} </td>
    </ng-container>
    <ng-container matColumnDef="gerencia">
      <th mat-header-cell *matHeaderCellDef> GERENCIA </th>
      <td mat-cell *ngFor="let element"> {{element.gerencia}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
       <td mat-cell *ngFor="let element">
        <button  mat-raised-button color="primary">
          <b>Editar</b>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

