
<div class="toolbar">
  <p>
    <mat-toolbar class="example-spacer">
  <span>PERFIL DE USUARIO</span>
    </mat-toolbar>
  </p>
</div>

<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">

    <mat-card>
      <mat-card-content>
        <h2>Mi Perfil</h2>
        <form >
        <div class="perfil" fxLayout="row" fxLayout.sm="column" >

          <div fxFlex="95%" fxFlex.sm="95%" fxFlex.xs="95%">
           <!--  <app-profile-details></app-profile-details> -->
           <div  *ngIf="list.isAutenticado">

            <!-- <label class="title">
             Nombre Completo: <label class="title1">{{list.getUserCode}}</label>
            </label> -->

            <label class="title">Nombre Completo:</label>
            	<input type="text" value="{{list.getUserCode}}"/>

            <!-- <label class="title1">
              {{list.getUserCode}}
             </label> --><br>
          <label class="title">
            Codigo Usuario:
            </label>
          <input type="text" value="
            {{list.getUserResponse.userCode}}" >
          <br>
          <label class="title">
            Cargo:
            </label>
          <input type="text" value="
            {{list.getUserResponse.persona.cargo.nombre}}" >
            <br>
            <label class="title">
              Unidad Organizacional:
            </label>
            <input type="text" value="
            {{list.getUserResponse.persona.unidadOrganizacional.nombre}}" >
            <br>
            <label class="title">
              Tipo Usuario:
            </label>
            <input type="text" value="
            {{list.getUserResponse.tipoUsuario.nombre}}" >
          </div>
          </div>

        </div>
      </form>
      </mat-card-content>
      <div style="width: auto;margin:0 auto" >
        <mat-accordion  >
            <mat-expansion-panel style="background-color: #D6EAF8;" >
                <mat-expansion-panel-header fxLayoutAlign="center none" >
                    <mat-panel-title style="color: blue;" >
                        CAMBIAR CONTRASEÑA
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-password></app-password>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card>
  </div>


</div>
