
<div class="container">
  <div class="row">

    <div  class="col-lg-6 col-xl-6 mx-auto">
      <div class="card my-5 shadow overflow-hidden">
        <!-- <div class="card-img-left d-none d-md-flex">        </div> --> 
        <div class="card-body p-sm-2">
          <h5 class="card-title text-center fs-3">Iniciar Sesión</h5>

          <mat-form-field appearance="outline">
            <mat-label class="label">Codigo de Usuario</mat-label>
            <input matInput placeholder="Codigo" [(ngModel)]="loginData.userCode" autocomplete="off">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="label">Contraseña</mat-label>
            <input matInput placeholder="Contraseña" [(ngModel)]="loginData.password" type="password">
          </mat-form-field>

          <div class="card-btns-flex mb-2">
           
            <button class="btn-text" (click)="openDialog()">Me olvidé mi contraseña</button>
            <button mat-raised-button class="btn btn-dark-moon" type="submit"  (click) = "onLogin()">Ingresar</button>
            
          </div>

        </div>
      </div>
    </div>
  </div> 
</div>