

 <mat-dialog-content [formGroup] = "form">
  <h2 mat-dialog-title>MODIFICAR PERSONA</h2>
   <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field class="createUser" fxFlex>
      <mat-label>ID Persona</mat-label>

        <input matInput placeholder = "ID Persona" formControlName="idPersona" readonly onmousedown="return false;">
    </mat-form-field>

    <mat-form-field class="createUser" fxFlex>
      <mat-label>Correo</mat-label>

        <input matInput placeholder = "Correo" formControlName="correo" readonly onmousedown="return false;">
    </mat-form-field>




    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Locacion</mat-label>
      <mat-select [(ngModel)]="selectedLocacion" formControlName="locaciones">
        <mat-option *ngFor="let locacion of locaciones" [value]="locacion">
          {{locacion}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <!-- <mat-form-field fxFlex appearance="outline">
      <mat-label class="label"></mat-label>
      <mat-select [(ngModel)]="selectedLocacion" formControlName="locacion">
        <mat-option *ngFor="let locacion of locaciones" [value]="locacion">
          {{locacion}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->






    <!-- <mat-form-field class="createUser" fxFlex>
      <mat-label>Codigo Persona</mat-label>

        <input matInput placeholder = "Codigo de Usuario" formControlName="numeroDocumento" readonly onmousedown="return false;">
    </mat-form-field>

    <mat-form-field class="createUser" fxFlex>
      <mat-label>Nombre Completo</mat-label>
        <input matInput placeholder = "Nombre Completo" formControlName="nombreCompleto" readonly onmousedown="return false;">
    </mat-form-field> -->



  </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Sucursal</mat-label>
      <mat-select [(ngModel)]="selectedSucursal" formControlName="sucursal">
        <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">
          {{sucursal.nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Estado</mat-label>
      <input matInput placeholder="Estado" formControlName="estado" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label class="label">Aprobador</mat-label>
      <mat-select [(ngModel)]="selectedAprobador" formControlName="aprobador" ><!-- [compareWith]="compareWith" -->
        <mat-option *ngFor="let aprobador of aprobadores" [value]="aprobador">
          {{ aprobador.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
 </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

 <!-- empresa -->
 <mat-form-field fxFlex appearance="outline">
  <mat-label class="label">Empresa</mat-label>
  <mat-select [(ngModel)]="selectedEmpresas" formControlName="empresa">
    <mat-option *ngFor="let empresa of empresas" [value]="empresa">
      {{empresa.nombre}}
    </mat-option>
  </mat-select>

</mat-form-field>

<mat-form-field fxFlex appearance="outline">
  <mat-label class="label">Gerencias</mat-label>
  <mat-select [(ngModel)]="selectedGerencia" formControlName="gerencia">
    <mat-option *ngFor="let gerencia of gerencias" [value]="gerencia.id">
      {{gerencia.nombre}}
    </mat-option>
  </mat-select>


</mat-form-field>


  </div>
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Unidad Organizacional</mat-label>
      <mat-select [(ngModel)]="selectedUO" formControlName="unidadOrganizacional">
        <mat-option *ngFor="let unidadOrganizacional of unidadOrganizacionalesUO" [value]="unidadOrganizacional">
          {{unidadOrganizacional}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label class="label">Cargo</mat-label>
      <mat-select [(ngModel)]="selectedCargo" formControlName="cargo">
        <mat-option *ngFor="let cargo of cargos" [value]="cargo">
          {{cargo.nombre}}
        </mat-option>
      </mat-select>

    <!--  <input matInput placeholder="Cargo" formControlName="Cargo" > -->

    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
 <!--    <button mat-raiset-button color="primary" (click) = "cerrar()">CERRAR</button> -->
    <button class="btn1" mat-flat-button color="accent" (click) = "cerrar()">
      <mat-icon>cancel</mat-icon>Cancelar
    </button>

    <button  class="btn1"  mat-flat-button color="primary" (click) = "guardar()"><mat-icon>save</mat-icon>Modificar</button>
</mat-dialog-actions>
