

:host {
    display: block;
    flex-direction: column;
    height: 100%;
    position: absolute;

  min-width: 100%;

  }

  mat-drawer {
    width: 200px;
  }
  mat-drawer-container {
    height: 100%;
    margin-bottom: 35px; 
  }

  mat-drawer {
    background-color: #00204A;
  //  background-image: radial-gradient(circle at 95.14% 90.29%, #ffffff 0, #8092fd 15%, #3c78f2 50%, #0060e7 75%, #004cdc 100%);
  }

  .title {
    background-image: radial-gradient(circle at 95.14% 70.29%, #ffffff 0, #8092fd 15%, #3c78f2 50%, #0060e7 75%, #004cdc 100%);
    min-height: 0.5vh;
    margin-top: 2px; /* height of header */
    padding: 0.8px;

  }
  a{
    color: #edf1f5;
  }


  .main {

    max-height: auto;

    padding: 40px;


  }



