button.mat-button .mat-icon,
a.mat-button .mat-icon,
a.mat-raised-button .mat-icon,
a.mat-flat-button .mat-icon,
a.mat-stroked-button .mat-icon {
  vertical-align: top;
  font-size: 1.25em;


}

.toolbar{

  margin-top: 1px; /* height of header */
  padding: 0.8px;
  height: 50px;
  //height: 30px;
}
.example-spacer {
 flex: 1 1 auto;
 background-color: #00BBF0;
//background-image: radial-gradient(circle at 95.14% 70.29%, #ffffff 0, #8092fd 15%, #3c78f2 50%, #0060e7 75%, #004cdc 100%);
color: #ffffff;
height: 20px;

}

.example-full-width {
  width: 100%;
}


.btn{

  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card{

  margin-left:auto;
  margin-right:auto;
  margin-top: 10px; /* height of header */
  padding: 10px;


}
.input-row{
  font-size: 8px;
  margin-top: 0.1px; /* height of header */

}

.input-row-td{
  font-size: 5px;
  margin-top: - 10px;
}
mat-card-title{
  font-family: "Homer Simpson UI";
}

.tbody-td{
  
  height: 1px;
}


.content{

   border-width:1px;
   border-color:cornflowerblue;
   border-style:solid;
   border-radius: 5px;


 }
.label{
  font-weight: lighter;
  font-size: 12px;
  font-weight: 700;
}

.btn1{
  font-family: helvetica;

  font-size: 10px;
  font-style: italic;


  border-radius: 15px;

}

.btn1:hover{
  background-color: #FD0D02;
}


mat-card-content{
  margin: 10px;
}



.btn2{
  font-family: helvetica;

  font-size: 10px;
  font-style: italic;


  border-radius: 15px;
  background-color: #36e00b;
color: white;
}
.btn2:hover{
  background-color: #56B53F;
}

input{
  font-family: Arial; font-size: 10pt;
  }
  input[type=checkbox] {
    transform: scale(1.5);
}

mat-select{
  font-family: Arial; font-size: 10pt;
}

/***********************************/
.save{
  color: #36e00b;
}
.demo-table {
  width: 100%;
  
}

.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
.add-button{
  float: right;
}


.flexSpaceBetween {
  justify-content: space-between;
  background-color: #D5EEF7;
}

.done{
  color: rgb(73, 214, 73);
}
