<div class="toolbar">
    <p>
      <mat-toolbar class="example-spacer">
    <span>CREAR SUBTIPO DE ORDER DE TRABAJO</span>
      </mat-toolbar>
    </p>
  </div>

  <div>
  <mat-card class="mat-elevation-z16" fxFlex.sm="0 1 calc(50%-5px)" fxFlex.md="0 1 calc(33%-5px)" fxFlex.gt-md="0 1 calc(50%-10px)">

        <div class="content">
                  <mat-card-content>
                        <form novalidate id="contactForm" [formGroup]="FormSubtipo" (ngSubmit)="submit()" >
                          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxLayoutGap.lt-md="10px">
                            <mat-form-field fxFlex   appearance="outline" >
                              <mat-label class="label">Nombre Completo</mat-label>
                              <input matInput placeholder="Nombre" formControlName="Nombre" autocomplete="off">
                            </mat-form-field >
                          </div>
                          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                            <!-- <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Unidad Tecnica</mat-label>
                              <input matInput placeholder="Unidad Tecnica" formControlName="IdDptoTecnico" autocomplete="off">
                            </mat-form-field> -->

                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Unidad Tecnica</mat-label>
                              <mat-select (valueChange)="cargarTipo($event)"  formControlName="IdDptoTecnico">
                                <mat-option *ngFor="let IdDptoTecnico of unidadTecnicas" [value]="IdDptoTecnico.idDptoTecnico">
                                  {{IdDptoTecnico.nombre}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                           <!--  <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Tipo OT</mat-label>
                              <input matInput placeholder="Tipo OT" formControlName="IdTipoOT" autocomplete="off">
                            </mat-form-field> -->
                            <mat-form-field fxFlex appearance="outline">
                              <mat-label class="label">Tipo OT</mat-label>
                              <mat-select [(ngModel)]="selectedTipo"  formControlName="IdTipoOT">
                                <mat-option *ngFor="let tipo of tipos" [value]="tipo.idTipoOT">
                                  {{tipo.nombre}}
                                </mat-option>
                                <mat-error></mat-error>
                              </mat-select>
                            </mat-form-field>


                          </div>
                          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="10px">


                            <mat-form-field  appearance="outline">
                              <mat-label class="label">Estado</mat-label>
                              <mat-select formControlName="estado" [(value)]="selectedFood">

                                <mat-option *ngFor="let estado of estados" [value]="estado.value">
                                  {{estado.viewValue}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>

                          <div class="boton">
                            <button class="btn1"  type="cancel"  mat-raised-button color="warn" (clic)="cancelar()"><!-- (click)="enableDisableRule()"    [ngClass]="{'primary' : toggle, 'red': !toggle}" -->
                              <mat-icon>cancel</mat-icon>CANCELAR</button>
                            <button class="btn2" id="btnSubmit" type="submit"  mat-raised-button color="primary" [disabled]="FormSubtipo.invalid" ><!-- (click)="enableDisableRule()"    [ngClass]="{'primary' : toggle, 'red': !toggle}" -->
                            <mat-icon>save</mat-icon>GUARDAR</button>

                          </div>

                        </form>
                </mat-card-content>
              </div>

      </mat-card>

    </div>
